<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Academist | Admin</title>
	<base href="/admin">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main1.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css" />
	<link rel="stylesheet" href="css/select.css" />
	<link rel="stylesheet" href="css/react-draft-wysiwyg.css" />
	<link rel="stylesheet" href="css/toastr.min.css" />
	<link rel="stylesheet" href="css/tippy.css" />
	<link rel="stylesheet" href="css/date-picker.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<style>
		@import url('https://fonts.googleapis.com/css?family=Tajawal');
		</style>
</head>
<body>
	<div id="app_home"></div>
	<script src="app/bundle.42d5fbf677c3efb3bdcb.js"></script>
</body>
</html>
